extends layout

block content
    main.main_add
            div.list_container
                h1 To Do list
                div.form_container
                    table
                        tr#headtag
                            th.padding Title
                            th.padding Description
                            th.padding Startdate
                            th.padding Deadline
                            th.padding Priority
                        each item in todos
                            form(method='POST' action=`/${item._id}/completed`)
                                        td.padding #{item.title}
                                        td.padding #{item.description}
                                        td.padding #{item.startdate.toLocaleDateString()}
                                        td.padding #{item.deadline.toLocaleDateString()}
                                        td.padding #{item.priority}
                                        td.padding
                                            button(type='submit') Done
                                        tr
            div.list_container
                h1 Finished To Dos  
                div.form_container
                    table
                        tr#headtag
                            th.padding Title
                            th.padding Description
                            th.padding Startdate
                            th.padding Deadline
                            th.padding Priority
                        each item in doneTodos 
                            form(method='POST' action=`/${item._id}/completed`)
                                        td.padding #{item.title}
                                        td.padding #{item.description}
                                        td.padding #{item.startdate.toLocaleDateString()}
                                        td.padding #{item.deadline.toLocaleDateString()}
                                        td.padding #{item.priority}
                                        td.padding
                                            button(type='submit') Undone
                                        tr
                                    
                                    
