extends layout

block content
    main.main_add
            div.list_container
                h1 To Do list
                div.form_container
                    table
                        tr#headtag
                            th.padding Title
                            th.padding Description
                            th.padding Startdate
                            th.padding Deadline
                            th.padding Priority
                        each todo in todos
                            form(method='POST' action=`/${todo._id}/completed`)
                                    tr.aligncenter
                                        td.padding #{todo.title}
                                        td.padding #{todo.description}
                                        td.padding #{todo.startdate.toLocaleDateString()}
                                        td.padding #{todo.deadline.toLocaleDateString()}
                                        td.padding #{todo.priority}
                                        td.padding
                                            button(type='submit') Done
                                        tr
            div.list_container
                h1 Finished To Dos  
                div.form_container
                    table
                        tr#headtag
                            th.padding Title
                            th.padding Description
                            th.padding Startdate
                            th.padding Deadline
                            th.padding Priority
                        each todo in doneTodos 
                            form(method='POST' action=`/${todo._id}/completed`)
                                        tr.linethrough.aligncenter
                                            td.padding #{todo.title}
                                            td.padding #{todo.description}
                                            td.padding #{todo.startdate.toLocaleDateString()}
                                            td.padding #{todo.deadline.toLocaleDateString()}
                                            td.padding #{todo.priority}
                                            td.padding
                                                button(type='submit') Undone                                   
                                    
