extends layout

block content
    main.main_add
            div.list_container
                h1=title 
                div.form_container
                     table.disp
                tr
                    th Name
                    th Address
                each dept in departments
                    tr
                        td #{dept.title}
                        td #{dept.description} #{dept.startdate}, #{dept.deadline} #{dept.prioriy}